body {
    background-color: burlywood;
}

my-card .title {
    color: red;
}

my-card .card {
    color: red;
}

button {
    background: #1E88E5;
    color: white;
    padding: 2rem 4rem;
    border: 0;
    font-size: 1.5rem;
}