<!DOCTYPE HTML>
<html>
	<head>
		<title>Francesc López Marió - Fullstack developer</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<!-- link rel="stylesheet" href="/layouts/home/assets/css/main.css" / -->

		<!-- TODO: BUNDLES with another system -->
		<!-- script async src="https://unpkg.com/systemjs@6.14.2/dist/extras/amd.js"></script -->
		<!-- script async src="https://unpkg.com/systemjs@6.14.2/dist/system.js"></script -->
	
		<script src="/layouts/home/assets/js/htmx.min.js"></script>
		<script defer src="/layouts/home/HomeLayout.js"></script>

	</head>
	<body>
		<h1>Eureka</h1>
		<h1>Top Precios!</h1>

		<h3> 
			Busca producto
			<span class="htmx-indicator"> 
			  <img  width="60px" src="/layouts/home/images/loader.gif"/> Buscando... 
			 </span> 
		</h3>

		<label>Producto</label>
		<input type="text" name="product" 
			hx-post="/search-async/"
			hx-trigger="input changed delay:500ms, search" 
			hx-target="#search-results" 
			hx-indicator=".htmx-indicator">

		<div id="search-results"></div>
</button>

	</body>
</html>